<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1tm.svg" width="80">
    <h1>BokenjiKan</h1>
  </div>
</div>

<div class="tag">
  <div class="container">
    <h2 class="tag-title"> <%= @destination.name %> </h2>
    <img src="<%= @destination.image %>" />
    <p><%= @destination.description %>
    <%= link_to "Edit", edit_destination_path(@destination) %>
  </div>
  <div class="container">
    <h2 class="tag-title">Comments</h2>
    <div class="cards row">
      <% @bookings.each do |booking| %>
        <div class="card col-xs-4">
          <h2><%= booking.name %></h2>
          <p><%= booking.message %></p>
          <%= link_to "Edit comment", edit_booking_path(booking) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
